@charset "UTF-8";
ul {
  padding: 0;
  margin: 0;
}

.l-article {
  background-color: #FFFDFA;
}

.l-aside {
  background-color: #F2EDE9;
}
@media screen and (min-width: 1025px) {
  .l-aside {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}

@media screen and (min-width: 1025px) {
  .l-container {
    display: grid;
    grid-template-columns: 1fr 19%;
    grid-template-rows: 1fr 150px;
  }
}

@media screen and (min-width: 1025px) {
  .l-footer {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.l-header {
  height: 217px;
  min-width: 375px;
  background-color: #FFF7EF;
}
@media screen and (min-width: 600px) {
  .l-header {
    min-width: 600px;
  }
}
@media screen and (min-width: 1025px) {
  .l-header {
    position: relative;
  }
}

@media screen and (min-width: 1025px) {
  .l-main {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.zdo_drawer_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(51, 51, 51, 0.5);
  display: none;
  top: 0;
  left: 0;
}

.c-bold-text {
  font-size: 16px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #3C2A10;
  margin-bottom: 177px;
}

.c-button {
  border-radius: 10px;
  background-color: #F2EDE9;
  color: #707070;
  border: solid 1px;
  border-color: #3C2A10;
  height: 46px;
}

.c-close {
  position: relative;
  width: 32px;
  height: 32px;
}
.c-close__right, .c-close__left {
  width: 32px;
  height: 6px;
  background-color: #707070;
  display: block;
  position: absolute;
  left: 0;
}
.c-close__right {
  transform: rotate(45deg);
}
.c-close__left {
  transform: rotate(-45deg);
}

.c-input {
  border-radius: 10px;
  border: solid 1px;
}

.c-link {
  list-style: none;
  color: #fff;
  font-size: 20px;
}

.c-main-burger {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 600px) {
  .c-main-burger {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .c-main-burger {
    margin-bottom: 60px;
  }
}

.c-menu-list {
  color: #707070;
  margin-bottom: 23px;
}

.c-partition {
  width: 1px;
  height: 20px;
  background-color: #fff;
  display: block;
  font-size: 0;
}

.c-second-burger-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 166px;
  width: 267px;
}
@media screen and (min-width: 600px) {
  .c-second-burger-img {
    height: 358px;
    width: 581px;
    margin-bottom: 241px;
  }
}
@media screen and (min-width: 1025px) {
  .c-second-burger-img {
    height: 358px;
    width: 581px;
    margin-bottom: 60px;
  }
}

.c-single-button {
  width: 100%;
  min-height: 81px;
  font-size: 16px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #3C2A10;
  background-color: #F2EDE9;
  border-radius: 20px;
  border: 1px solid #707070;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .c-single-button {
    width: 429px;
    height: 104px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.p-access {
  min-height: 691px;
  min-width: 375px;
  background: url(../images/sp_Map.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
}
@media screen and (min-width: 600px) {
  .p-access {
    min-height: 415px;
    min-width: 600px;
    background: url(../images/tb_Map.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9);
  }
}
@media screen and (min-width: 1025px) {
  .p-access {
    min-height: 649px;
    min-width: 1025px;
    background: url(../images/pc_Map.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9);
  }
}
.p-access__film {
  z-index: 1;
  content: “”;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 600px) {
  .p-access__film {
    height: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .p-access__film {
    height: 100%;
    width: 60%;
  }
}
.p-access__article-Wrapper {
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 2rem;
}
@media screen and (min-width: 1025px) {
  .p-access__article-Wrapper {
    width: 60%;
  }
}
.p-access__title {
  font-size: 30px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #ffffff;
  position: relative;
  z-index: 3;
}
.p-access__title::after {
  content: "";
  display: block;
  width: 75px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -20px;
}
@media screen and (min-width: 1025px) {
  .p-access__title::after {
    bottom: -55.5px;
  }
}
.p-access__text {
  margin-top: 40px;
  font-size: 14px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #ffffff;
  position: relative;
  /*テキストを浮かすため*/
  z-index: 3;
}
@media screen and (min-width: 1025px) {
  .p-access__text {
    margin-top: 119px;
  }
}

.p-archive-visual {
  background: url(../images/archive-visual.png);
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  height: 283px;
  min-width: 375px;
  position: relative;
}
.p-archive-visual__box {
  position: absolute;
  top: 103px;
  left: 37px;
}
.p-archive-visual__title {
  font-size: 36px;
  font-family: Roboto;
  color: #ffffff;
}
.p-archive-visual__text {
  font-size: 16px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #ffffff;
}

.p-aside {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1000;
  width: 85%;
}
@media screen and (min-width: 600px) {
  .p-aside {
    width: 44%;
  }
}
@media screen and (min-width: 1025px) {
  .p-aside {
    width: auto;
    position: static;
    right: 0;
  }
}
.p-aside.open {
  position: fixed;
  right: 0%;
  transition: 0.4s;
  height: 100%;
  overflow: scroll;
}
.p-aside__button {
  /*「Menu」ボタン押下したときの、「☓」ボタンの位置*/
  position: absolute;
  top: 25px;
  right: 17px;
  cursor: pointer;
  border: none;
}
@media screen and (min-width: 1025px) {
  .p-aside__button {
    display: none;
  }
}
.p-aside__menu {
  display: none;
  color: #707070;
  font-size: 24px;
}
@media screen and (min-width: 1025px) {
  .p-aside__menu {
    display: block;
    margin-top: 82px;
    margin-bottom: 85px;
    margin-left: 46px;
  }
}
.p-aside__title1 {
  font-weight: bold;
  color: #707070;
  margin-top: 212px;
  margin-bottom: 40px;
  margin-left: 46px;
}
@media screen and (min-width: 1025px) {
  .p-aside__title1 {
    margin-top: initial;
  }
}
.p-aside__title2 {
  font-weight: bold;
  color: #707070;
  margin-top: 20px;
  margin-bottom: 39px;
  margin-left: 46px;
}
.p-aside__title3 {
  font-weight: bold;
  color: #707070;
  margin-top: 20px;
  margin-bottom: 38px;
  margin-left: 46px;
}

body.open {
  overflow: hidden;
}

.p-blockquote {
  min-width: 335px;
  height: auto;
  background-color: #F5F5F5;
  padding: 30px 16px;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-blockquote {
    margin-bottom: 60px;
  }
}
.p-blockquote__text {
  font-size: 16px;
  font-family: "M+ 1m";
  margin-bottom: 30px;
}
.p-blockquote__cite {
  font-size: 16px;
  font-family: "M+ 1m";
  color: #3C2A10;
}
.p-blockquote__cite > a {
  color: #4A6C9B;
  text-decoration: underline;
}

.p-card {
  margin-bottom: 20.9px;
}
@media screen and (min-width: 750px) {
  .p-card {
    display: flex;
  }
}
.p-card__sp-image {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: 100%;
}
@media screen and (min-width: 750px) {
  .p-card__sp-image {
    display: none;
  }
}
.p-card__tb-image {
  display: none;
}
@media screen and (min-width: 750px) {
  .p-card__tb-image {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
    width: 50%;
  }
}
.p-card__content {
  background-color: #3C2B1C;
  min-height: 354.11px;
  padding: 31.5px 17px 43.7px 17px;
}
@media screen and (min-width: 750px) {
  .p-card__content {
    width: 50%;
    height: auto;
  }
}
@media screen and (min-width: 1025px) {
  .p-card__content {
    padding: 53px 34px 60px 33px;
    height: auto;
  }
}
.p-card__content--titile {
  font-size: 20px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #ffffff;
  margin-bottom: 24px;
}
@media screen and (min-width: 1025px) {
  .p-card__content--titile {
    font-size: 36px;
  }
}
.p-card__content--subtitile {
  font-size: 16px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #ffffff;
  margin-bottom: 10px;
}
@media screen and (min-width: 1025px) {
  .p-card__content--subtitile {
    font-size: 24px;
  }
}
.p-card__content--text {
  font-size: 16px;
  font-family: "M+ 1m";
  color: #ffffff;
  margin-bottom: 40px;
}
@media screen and (min-width: 1025px) {
  .p-card__content--text {
    margin-bottom: 100px;
  }
}
.p-card__content--button {
  display: block;
  width: auto;
  margin: 0 auto;
  color: #707070;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  width: 163.16px;
  height: 42.47px;
  border-radius: 50px;
}
@media screen and (min-width: 1025px) {
  .p-card__content--button {
    width: 292px;
    height: 76px;
  }
}

.p-description {
  margin-top: 30px;
  margin-bottom: 34px;
}
.p-description__heading {
  font-size: 28px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #3C2A10;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-description__heading {
    margin-bottom: 60px;
  }
}
.p-description__text {
  font-size: 16px;
  font-family: "M+ 1m";
  color: #3C2A10;
}
@media screen and (min-width: 600px) {
  .p-description__text {
    margin-bottom: 60px;
  }
}

.p-first-description {
  display: flex;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-first-description {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .p-first-description {
    margin-bottom: 60px;
  }
}
.p-first-description__img {
  height: 89px;
  width: 144px;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 600px) {
  .p-first-description__img {
    height: 189px;
    width: 306px;
  }
}
@media screen and (min-width: 1025px) {
  .p-first-description__img {
    height: 358px;
    width: 581px;
  }
}
.p-first-description__text {
  min-height: 89px;
  min-width: 144px;
}

.p-foodmenu {
  list-style: none;
}
@media screen and (min-width: 600px) {
  .p-foodmenu {
    display: flex;
    /*「Take Out」と「Eat In」の箱を、タブレット以上は横並び*/
  }
}
.p-foodmenu__list1 {
  background: url(../images/takeOut.png);
  background-size: cover;
  min-width: 335px;
  min-height: 642px;
  margin: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 600px) {
  .p-foodmenu__list1 {
    min-width: 239.5px;
    min-height: 681px;
    margin: 40px 41px 40px 40px;
  }
}
@media screen and (min-width: 1025px) {
  .p-foodmenu__list1 {
    min-width: 361.5px;
    margin: 120px 80px 134px 111px;
  }
}
.p-foodmenu__list2 {
  background: url(../images/eatIn.png);
  background-size: cover;
  min-width: 335px;
  min-height: 642px;
  margin: 20px 20px 49px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 600px) {
  .p-foodmenu__list2 {
    min-width: 239.5px;
    min-height: 681px;
    margin: 40px 40px 40px 0;
  }
}
@media screen and (min-width: 1025px) {
  .p-foodmenu__list2 {
    min-width: 361.5px;
    margin: 120px 112px 134px 0;
  }
}
.p-foodmenu__title {
  color: #ffffff;
  font-family: Roboto;
  font-size: 41px;
  margin-top: 11px;
  margin-left: 10px;
  position: relative;
  /*疑似要素作成のため*/
}
.p-foodmenu__title::after {
  content: "";
  display: block;
  width: 33.89px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  bottom: -27px;
}
.p-foodmenu__dl {
  background-color: rgba(255, 255, 255, 0.8);
  width: auto;
  min-height: 162px;
  margin: 0 10px 10px 10px;
}
.p-foodmenu__dt {
  font-size: 22px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #3C2A10;
  padding-top: 19px;
  margin-bottom: 19px;
  margin-left: 10px;
}
.p-foodmenu__dd {
  font-size: 16px;
  color: #3C2A10;
  margin: 0 14px 23px 10px;
  padding-bottom: 20px;
}

.p-footer {
  background: url(../images/sp_footer.png);
  background-size: cover;
  min-width: 375px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .p-footer {
    background: url(../images/tb_footer.png);
    background-size: cover;
  }
}
@media screen and (min-width: 1025px) {
  .p-footer {
    background: url(../images/pc_footerf.png);
    background-size: cover;
  }
}
.p-footer__ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-footer__ul--partition {
  margin: 18px;
}
.p-footer__ul a {
  text-decoration: none;
  color: white;
}
.p-footer__copyright {
  color: #ffffff;
  font-size: 14px;
  margin-top: 34px;
}

#menu-footermenu {
  display: flex;
  margin-bottom: -70px;
}

.menu-item-object-page {
  font-size: 20px;
}

#menu-item-86 {
  position: relative;
  display: inline-block;
}

#menu-item-86::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 5px;
  right: 0px;
}

#menu-item-86 a {
  color: white;
  margin-right: 15px;
}

#menu-item-85 a {
  color: white;
  margin-left: 15px;
}

.p-form {
  display: inline-block;
  /* なくても大丈夫だけど、念の為 */
  position: relative;
  /* 基準値とする */
}
.p-form::before {
  content: "";
  /* 疑似要素に必須 */
  width: 24px;
  /* アイコンの横幅 */
  height: 24px;
  /* アイコンの高さ */
  background: url(../images/sp-seaech-icon.png) no-repeat center center/auto 100%;
  /* 背景にアイコン画像を配置 */
  display: inline-block;
  /* 高さを持たせるためにインラインブロック要素にする */
  position: absolute;
  /* 相対位置に指定 */
  left: 16px;
  /* アイコンの位置。微調整してね */
  transform: translateY(-50%);
  top: 50%;
}
.p-form__input {
  width: 230px;
  height: 46px;
  padding: 3px 0 3px 3em;
  /* アイコンを設置するため左の余白を多めに指定*/
  margin-right: 13px;
}
@media screen and (min-width: 600px) {
  .p-form__input {
    width: 396px;
    margin-right: 13px;
  }
}
.p-form__button {
  width: 78px;
  height: 46px;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  .p-form__button {
    width: 136px;
  }
}
@media screen and (min-width: 1250px) {
  .p-form {
    position: absolute;
    top: 86px;
    right: 31px;
  }
}

.gallery {
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 600px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1025px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.gallery__item {
  width: 100%;
  height: 205px;
}
@media screen and (min-width: 600px) {
  .gallery__item {
    width: 100%;
    height: 205px;
  }
}

.p-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.p-header__title {
  color: #707070;
  font-size: 40px;
  font-family: Roboto;
  margin-bottom: 38px;
}
@media screen and (min-width: 1250px) {
  .p-header__title {
    position: absolute;
    top: 56px;
    left: 65px;
    font-size: 64px;
  }
}
.p-header__title a {
  text-decoration: none;
  color: #707070;
}
.p-header__menu {
  position: absolute;
  top: 14px;
  right: 16px;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  font-family: Roboto;
  color: #707070;
  cursor: pointer;
}
.p-header__menu.active {
  display: none;
}
@media screen and (min-width: 1025px) {
  .p-header__menu {
    display: none;
  }
}
@media screen and (min-width: 1250px) {
  .p-header__menu {
    display: none;
  }
}

.p-mainvisual {
  height: 285px;
  width: auto;
  min-width: 375px;
  background: url(../images/sp_mainvisual.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}
.p-mainvisual__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  left: 25px;
}
@media screen and (min-width: 600px) {
  .p-mainvisual {
    background: url(../images/tb_mainvisual.png) center center no-repeat;
    background-size: cover;
    min-width: 600px;
  }
}
@media screen and (min-width: 1025px) {
  .p-mainvisual {
    background: url(../images/mainVisual.png) center center no-repeat;
    background-size: cover;
    height: 400px;
    font-size: 40px;
    font-weight: bold;
  }
}

.p-menu {
  list-style: none;
  margin-bottom: 40px;
  margin-left: 66px;
}

.p-normal-list {
  font-size: 16px;
  font-family: "M+ 1m";
  color: #3C2A10;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-normal-list {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.p-normal-list ul {
  list-style: none;
}
.p-normal-list__ul--first {
  margin-bottom: 20px;
}
.p-normal-list__ul--second {
  padding-left: 18px;
  margin-bottom: 20px;
}
.p-order-list {
  font-size: 16px;
  font-family: "M+ 1m";
  color: #3C2A10;
  margin-top: 50px;
  margin-bottom: 60px;
}
@media screen and (min-width: 600px) {
  .p-order-list {
    margin-top: 60px;
  }
}
.p-order-list__ol--first {
  margin-bottom: 20px;
}
.p-order-list__ol--second {
  padding-left: 58px;
  margin-bottom: 20px;
}
.p-page-visual {
  background: url(/images/sp_shop.png);
  background-size: cover;
  min-height: 225px;
  min-width: 375px;
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 600px) {
  .p-page-visual {
    background: url(/images/tb_shop.png);
    background-size: cover;
    height: 500px;
  }
}
@media screen and (min-width: 1025px) {
  .p-page-visual {
    background: url(/images/pc_shop.png);
    background-size: cover;
    height: 500px;
  }
}
.p-page-visual__title {
  font-size: 36px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #ffffff;
  position: absolute;
  left: 26px;
}
@media screen and (min-width: 600px) {
  .p-page-visual__title {
    font-size: 60px;
  }
}

.p-pagination {
  display: none;
}
@media screen and (min-width: 750px) {
  .p-pagination {
    display: block;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 750px) {
  .p-pagination__page-number {
    font-size: 16px;
    font-family: Roboto;
    color: #707070;
    margin-right: 15px;
    align-items: center;
  }
}
@media screen and (min-width: 750px) {
  .p-pagination__list {
    display: flex;
    gap: 15px;
  }
}
@media screen and (min-width: 750px) {
  .p-pagination__list--item {
    list-style: none;
  }
}
@media screen and (min-width: 750px) {
  .p-pagination__list--item a {
    text-decoration: none;
    font-size: 16px;
    font-family: Roboto;
    color: #707070;
    border: 1px solid #000;
    padding: 7px 13px 7px 13px;
  }
}
.p-pagination__list--first-item {
  content: url(/images/prev.png);
  width: 17.53px;
  height: auto;
  margin-right: 8.2px;
  display: inline-block;
  height: auto;
  position: relative;
  top: 0px;
  left: 0;
}
.p-pagination__list--last-item {
  content: url(/images/next.png);
  width: 17.53px;
  height: auto;
  margin-left: 8.2px;
  display: inline-block;
  height: auto;
  position: relative;
  top: 0px;
  right: 0;
}

.p-preformatted {
  background-color: #F5F5F5;
  min-width: 336px;
  min-height: 236px;
  padding: 50px;
  display: flex;
  justify-content: left;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-preformatted {
    margin-bottom: 60px;
  }
}
.p-preformatted__code {
  font-size: 16px;
  font-family: "M+ 1m";
  color: #3C2A10;
}

.p-second-burger {
  margin-bottom: 30px;
  text-align: center .p-second-burger __img;
  text-align-min-width: 267px;
  text-align-min-height: 166px;
}

.p-second-description {
  display: flex;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-second-description {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .p-second-description {
    margin-bottom: 60px;
  }
}
.p-second-description__text {
  min-width: 182px;
  min-height: 173px;
  margin-right: 10px;
}
.p-second-description__img {
  height: 89px;
  width: 144px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 600px) {
  .p-second-description__img {
    height: 189px;
    width: 306px;
  }
}
@media screen and (min-width: 1025px) {
  .p-second-description__img {
    height: 358px;
    width: 581px;
  }
}

.p-pagination-sp {
  margin: 0 20px 30px 20px;
}
@media screen and (min-width: 750px) {
  .p-pagination-sp {
    display: none;
  }
}
.p-pagination-sp__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.p-pagination-sp__list--prev a {
  text-decoration: none;
  color: #707070;
}
.p-pagination-sp__list--prev a::before {
  content: url(/images/prev.png);
  width: 17.53px;
  height: auto;
  margin-right: 8.2px;
  display: inline-block;
  height: auto;
  position: relative;
  top: 3px;
  left: 0;
}
.p-pagination-sp__list--next a {
  text-decoration: none;
  color: #707070;
}
.p-pagination-sp__list--next a::after {
  content: url(/images/next.png);
  width: 17.53px;
  height: auto;
  margin-left: 8.2px;
  display: inline-block;
  height: auto;
  position: relative;
  top: 3px;
  right: 0;
}

.p-single-heading__h3 {
  font-size: 24px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #3C2A10;
  margin-bottom: 31px;
}
@media screen and (min-width: 600px) {
  .p-single-heading__h3 {
    margin-bottom: 60px;
  }
}
.p-single-heading__h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #3C2A10;
  margin-bottom: 37px;
}
@media screen and (min-width: 600px) {
  .p-single-heading__h4 {
    margin-bottom: 60px;
  }
}
.p-single-heading__h5 {
  font-size: 20px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #3C2A10;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-single-heading__h5 {
    margin-bottom: 60px;
  }
}
.p-single-heading__h6 {
  font-size: 20px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #3C2A10;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-single-heading__h6 {
    margin-bottom: 60px;
  }
}

.p-single-visual {
  background: url(/images/sp_tomato-cheese.png);
  background-size: cover;
  min-height: 225px;
  min-width: 375px;
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 600px) {
  .p-single-visual {
    background: url(/images/tb_tomato-cheese.png);
    background-size: cover;
    height: 500px;
  }
}
@media screen and (min-width: 1025px) {
  .p-single-visual {
    background: url(/images/pc_tomato-cheese.png);
    background-size: cover;
    height: 500px;
  }
}
.p-single-visual__title {
  font-size: 36px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #ffffff;
  position: absolute;
  left: 26px;
}
@media screen and (min-width: 600px) {
  .p-single-visual__title {
    font-size: 60px;
  }
}

.p-subheading {
  width: 100%;
}
.p-subheading__title {
  margin-bottom: 30px;
  color: #3C2A10;
}
.p-subheading__text {
  margin-bottom: 20px;
  color: #3C2A10;
}

.p-table {
  border: solid 1px #707070;
  border-collapse: collapse;
  background-color: #fff;
  font-size: 16px;
  font-family: "M+ 1m";
  width: 100%;
  margin-bottom: 30px;
}
.p-table tr {
  border: solid 1px #707070;
  border-collapse: collapse;
}
.p-table td {
  border: solid 1px #707070;
  border-collapse: collapse;
}
.p-table__td {
  height: 77px;
}
.p-table__td--first {
  width: 40%;
  padding: 28px 0px 28px 30px;
}
@media screen and (min-width: 600px) {
  .p-table__td--first {
    width: 30%;
  }
}
.p-table__td--second {
  width: 60%;
  padding: 28px 0px 28px 30px;
}
@media screen and (min-width: 600px) {
  .p-table__td--second {
    width: 70%;
  }
}

.menu-item-has-children > a {
  font-size: 24px;
  font-weight: bold;
  color: #707070;
  display: block;
  margin-bottom: 40px;
  margin-left: 46px;
  list-style: none;
  text-decoration: none;
}

.menu {
  list-style: none;
}

.sub-menu {
  list-style: none;
  margin-left: 66px;
}

.menu-item a {
  text-decoration: none;
  color: #707070;
  display: block;
  margin-bottom: 23px;
}

.menu-item:last-child {
  margin-bottom: 50px;
}

.wp-pagenavi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 30px 30px;
}
@media screen and (min-width: 600px) {
  .wp-pagenavi {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
}

.pages {
  display: none;
}
@media screen and (min-width: 600px) {
  .pages {
    display: block;
    margin-right: 4px;
    font-family: Roboto;
    font-size: 16px;
    color: #707070;
  }
}

.page {
  display: none;
}
@media screen and (min-width: 600px) {
  .page {
    display: block;
    text-decoration: none;
    color: #707070;
    border: 1px solid #000;
    padding: 7px 13px 7px 13px;
  }
  .page:hover {
    background-color: #3C2B1C;
    color: #fff;
  }
}

.current {
  display: none;
}
@media screen and (min-width: 600px) {
  .current {
    display: block;
    border: 1px solid #707070;
    padding: 7px 13px 7px 13px;
    background-color: #3C2B1C;
    color: #fff;
  }
}

.previouspostslink {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: #707070;
}
.previouspostslink::after {
  content: "前へ";
}
@media screen and (min-width: 600px) {
  .previouspostslink::after {
    content: none;
  }
}

.nextpostslink {
  margin-left: auto;
  margin-right: 0;
  text-decoration: none;
  color: #707070;
}
@media screen and (min-width: 600px) {
  .nextpostslink {
    margin: inherit;
  }
}
.nextpostslink::before {
  content: "次へ";
}
@media screen and (min-width: 600px) {
  .nextpostslink::before {
    content: none;
  }
}

.first {
  display: none;
}

.last {
  display: none;
}

.p-main__topImages {
  height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 600px) {
  .p-card {
    display: flex;
  }
}

.p-subheading {
  margin-bottom: 20px;
}

.wp-post-image {
  width: 100%;
  height: 230px;
}
@media screen and (min-width: 600px) {
  .wp-post-image {
    height: auto;
    width: 50%;
  }
}

.p-card__content--field {
  font-size: 16px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #ffffff;
  margin-bottom: 10px;
  min-height: 150px;
}

.p-card__content--button {
  align-items: flex-end;
  text-align: center;
  display: block;
  line-height: 42.47px;
}
@media screen and (min-width: 1025px) {
  .p-card__content--button {
    line-height: 76px;
  }
}

.p-card__content--button a {
  text-decoration: none;
  color: #707070;
}

.p-archive-wrapper {
  padding: 30px 20px 70px 20px;
}
@media screen and (min-width: 1025px) {
  .p-archive-wrapper {
    padding: 36px 36px 105.5px 36px;
  }
}

.p-single-page-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 600px) {
  .p-single-page-wrapper {
    padding: 0 60px 0 60px;
  }
}

/**
* Foundation
* ========================== */
/**
* Layout
* ========================== */
/* Object
* ========================== */
/* Component ------------ */
/* Project ------------ */
/* Utility ------------ */
/*# sourceMappingURL=style.css.map */