@use "../Foundation/mixin";
@use "../Foundation/variable" as v;

.l-container {

  // グリッドを指定
  @include mixin.pc {
    display: grid;
    grid-template-columns: 1fr 19%;
    grid-template-rows: 1fr 150px;
  }
}