@use "../../Foundation/variable" as v;

.p-archive-visual {
  background: url(../images/archive-visual.png);
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  height: 283px;
  min-width: 375px;
  position: relative;

  &__box {
    position: absolute;
    top: 103px;
    left: 37px;
  }

  &__title {
    font-size: 36px;
    font-family: Roboto;
    color: v.$whiteFont;
  }

  &__text {
    font-size: 16px;
    font-weight: bold;
    font-family: "M+ 1m";
    color: v.$whiteFont;
  }
}