@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-blockquote {
  min-width: 335px;
  height: auto;
  background-color: #F5F5F5;
  padding: 30px 16px;
  margin-bottom: 30px;

  @include m.tb {
    margin-bottom: 60px;
  }

  &__text {
    font-size: 16px;
    font-family: "M+ 1m";
    margin-bottom: 30px;
  }

  &__cite {
    font-size: 16px;
    font-family: "M+ 1m";
    color: v.$brownColor;
  }

  &__cite > a {
    color: #4A6C9B;
    text-decoration: underline;
  }
}