@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-card {
  margin-bottom: 20.9px;
  @include m.subtb {
    display: flex;
  }

  &__sp-image {

    object-fit: cover;
    height: auto;
    width: 100%;

    @include m.subtb {
      display: none;
    }
    
  }

  &__tb-image {
    display: none;

    @include m.subtb {
      display: block;
      object-fit: cover;
      height: auto;
      width: 50%;
    }
  }

  &__content {
    background-color: v.$cardContent-bg;
    min-height: 354.11px;
    padding: 31.5px 17px 43.7px 17px;

    @include m.subtb {
      width: 50%;
      height: auto;
    }

    @include m.pc {
      padding: 53px 34px 60px 33px;
      height: auto;
    }

    &--titile {
      font-size: 20px;
      font-weight: bold;
      font-family: "M+ 1m";
      color: v.$whiteFont;
      margin-bottom: 24px;

      @include m.pc {
        font-size: 36px;
      }
    }

    &--subtitile {
      font-size: 16px;
      font-weight: bold;
      font-family: "M+ 1m";
      color: v.$whiteFont;
      margin-bottom: 10px;

      @include m.pc {
        font-size: 24px;
      }
    }

    &--text {
      font-size: 16px;
      font-family: "M+ 1m";
      color: v.$whiteFont;
      margin-bottom: 40px;

      @include m.pc {
        margin-bottom: 100px;
      }
    }

    &--button {
      display: block;
      width: auto;
      margin: 0 auto;
      color: v.$mainColor;
      font-size: 16px;
      font-weight: bold;
      background-color: #fff;
      width: 163.16px;
      height: 42.47px;
      border-radius: 50px;

      @include m.pc {
        width: 292px;
        height: 76px;
      }
    }
  }

}