@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-footer {
  background: url(../images/sp_footer.png);
  background-size: cover;
  min-width: 375px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include m.tb {
    background: url(../images/tb_footer.png);
    background-size: cover;
  }

  @include m.pc {
    background: url(../images/pc_footerf.png);
    background-size: cover;
  }

  &__ul {
    display: flex;
    justify-content: center;
    align-items: center;
 
    &--partition {
      margin: 18px;
    }
  }

  &__ul a {
    text-decoration: none;
    color: white;
  }  

  &__copyright {
    color: v.$whiteFont;
    font-size: 14px;
    margin-top: 34px;
  }
}


//WordPress化したときのfooter

#menu-footermenu {
  display: flex;
  margin-bottom: -70px;
}

.menu-item-object-page {
  font-size: 20px;
}

#menu-item-86 {
  position:relative;
  display:inline-block;
}

#menu-item-86::after {
  content:"";
  display:inline-block;
  width:1px;
  height:20px;
  background-color:white;
  position:absolute;
  top:5px;
  right:0px;
}

#menu-item-86 a {
  color: white;
  margin-right: 15px;
}

#menu-item-85 a {
  color: white;
  margin-left: 15px;
}