.p-menu {
  list-style: none;
  margin-bottom: 40px;
  margin-left: 66px;
}





// /* WP時のメニュー全体の装飾 */

// .menu {
//   list-style: none;
//   // margin-bottom: 40px;
//   // margin-left: 66px;
// }

// .sub-menu {
//   list-style: none;
// }