@use "../../Foundation/mixin" as m;

.p-second-description {
  display: flex;
  margin-bottom: 30px;

  @include m.tb {
    margin-bottom: 60px;
  }

  @include m.pc {
    margin-bottom: 60px;
  }

  &__text {
    min-width: 182px;
    min-height: 173px;
    margin-right: 10px;
  }

  &__img {
    height: 89px;
    width: 144px;
    object-fit: cover;

    @include m.tb {
      height: 189px;
      width: 306px;
    }

    @include m.pc {
      height: 358px;
      width: 581px;
    }
  }
}