// バーガー・サイド・ドリンク

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.menu-item-has-children > a {
  font-size: 24px;
  font-weight: bold;
  color: v.$mainColor;
  display: block;
  margin-bottom: 40px;
  margin-left: 46px;
  list-style: none;
  text-decoration: none;
}

.menu {
  list-style: none;
}

.sub-menu {
  list-style: none;
  margin-left: 66px;
}

.menu-item a {
  text-decoration: none;
  color: v.$mainColor;
  display: block;
  margin-bottom: 23px;
}

.menu-item:last-child {
  margin-bottom: 50px;
}
