@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-single-visual {
  background: url(/images/sp_tomato-cheese.png);
  background-size: cover;
  min-height: 225px;
  min-width: 375px;
  display: flex;
  align-items: center;
  position: relative;

  @include m.tb {
    background: url(/images/tb_tomato-cheese.png);
    background-size: cover;
    height: 500px;
  }

  @include m.pc {
    background: url(/images/pc_tomato-cheese.png);
    background-size: cover;
    height: 500px;
  }

  &__title {
    font-size: 36px;
    font-weight: bold;
    font-family: "M+ 1m";
    color: v.$whiteFont;
    position: absolute;
    left: 26px;

    @include m.tb {
      font-size: 60px;
    }
  }
}