@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.c-single-button {
  width: 100%;
  min-height: 81px;
  font-size: 16px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: v.$brownColor;
  background-color: v.$aside-bg-color;
  border-radius: 20px;
  border: 1px solid v.$mainColor;
  margin-top: 30px;
  margin-bottom: 30px;

  @include m.tb {
    width: 429px;
    height: 104px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}